extends layout

block content
  h1= title
  p Welcome to #{title}
  p
    a(href='/cabrequests/new') New Request
  p
    a(href='/cabrequests') Show All
  p
    a(href='https://twitter.com/InnovatorsHack') @InnovatorsHack